---
layout: default
prism: true
---

<div class="container max-w-5xl mt-6 px-6 {{family}}">
	<div class="pb-5 mb-5 lg:mb-12 border-b border-sand-300">
		<h1 class="font-bold py-8 text-3xl lg:text-5xl text-left">{{title}}</h1>

		<p class="font-bold text-lg py-4 text-left font-serif">{{subtitle}}</p>
		<p class="text-sm leading-6 mb-1 opacity-90 font-bold">
			<time>{{ date | readableDate }}</time>
		</p>
		{% if author %}
			<p class="font-serif">by <span class="">{{ author }}</span></p>
		{% endif %} 
		
		{% if family %}
			<p class="py-6">
				Return to
				<a
					href="/{{family}}"
					class="
						underline
						hover:no-underline
						text-brick-700
						hover:text-brick-500
					"
					>{{family}}</a
				>
			</p>
		{% endif %}
	</div>
	<article
		class="
			prose-lg
			lg:prose-xl
			max-w-2xl
			my-4
			mx-auto
			font-serif
			lining-nums
		"
	>
		{{ content | safe }}
	</article>
</div>
