---
layout: default
prism: true
---

<div class="container max-w-5xl mt-6 px-6 {{family}}">
	<div class="pb-5 mb-5 lg:mb-12 border-b border-sand-300">
		<h1 class="font-bold text-5xl text-left">{{title}}</h1>
		<p class="font-bold text2xl text-left font-serif">{{subtitle}}</p>
		<p class="text-base leading-6 font-serif text-gray-500">
			<time> {{ date | readableDate }}
				by
				<a>{{ author }}</a>

			</time>
		</p>
		<p>Return to <a href="/{{family}}"
				class="underline hover:no-underline text-brick-700 hover:text-brick-500">{{family}}</a></p>

	</div>
	<article class="prose lg:prose-xl my-4 mx-auto font-serif lining-nums">
		{{ content | safe }}</article>

</div>
