---
title: Faetherwatch Family Archive
layout: blog
family: faetherwatch
audioSlug: 'steampunk-instrumental-v2.m4a'
audioTitle: 'Unknown Composer - Faetherwatch Family Song'
---

<section class="mt-16">
	{% set postslist = collections.faetherwatch %}

	{% for post in postslist %}
	<article class="my-10">
		<h2 class="font-bold text-3xl text-dirt-900 opacity-70 mb-4">
			<a href="{{ post.url | url }}">
				{% if post.data.title %}
				{{ post.data.title }}
				{% else %}
				Untitled
				{% endif %}
			</a>
		</h2>
		<p class="text-sm leading-6 mb-3 opacity-90 font-bold">
			<time>{{ post.date | readableDate }}</time>
		</p>
		<p class="font-serif">by <span class="">{{ post.data.author }}</span></p>
		{% if post.data.description %}
		<p class="mb-3 opacity-70">
			{{ post.data.description }}
		</p>
		{% endif %}

		<p class="py-6">
			<a href="{{ post.url | url }}" class="text-brick-700 font-bold text-lg font-faetherwatchTitle">
				Read more →
			</a>
		</p>
	<hr class="inline-block w-full">
	</article>

	{% endfor %}
</section>
