@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Basteleur";
	font-weight: 700;
	src: url('../fonts/Basteleur-Bold.woff');
}
@font-face {
	font-family: "Savate";
	font-weight: 600;
	src: url('../fonts/savate-regular-webfont.woff');
}
@font-face {
	font-family: "Fengardo Neue";
	font-weight: 500;
	src: url('../fonts/fengardoneue_regular-webfont.woff');
}
@font-face {
	font-family: "PT Serif";
	font-weight: 400;
	src: url('../fonts/pt-serif-v12-latin-regular.woff');
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.wranjer h1,
.wranjer h2,
.wranjer h3,
.wranjer h4,
.wranjer h5 {
	@apply font-wranjerTitle;
}
.faetherwatch h1,
.faetherwatch h2,
.faetherwatch h3,
.faetherwatch h4,
.faetherwatch h5 {
	@apply font-faetherwatchTitle;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.credit-container {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 0;
  }
  
  .credit-container .title {
	align-self: end;
	margin-bottom: 0;
  }
  
  .credit-container .primary {
	background-color: var(--thunk-pink);
	grid-column: 1/2;
	grid-row: 1/3;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
  }
  
  .credit-container .cta {
	align-self: start;
	display: flex;
	align-items: center;
	flex-direction: column;
	align-self: end;
	grid-column: 2/3;
	position: static;
	align-self: start;
	justify-self: center;
  }
  
  .credits {
	animation: 40s linear 3s infinite credit-crawl;
	transform: translateY(85vh);
	padding: 0 !important;
  }
  
  @keyframes credit-crawl {
	from {
	  transform: translateY(85vh);
	}
	to {
	  transform: translateY(-150vh);
	}
  }
  
  .member {
	list-style: none;
	font-size: 1.5em;
	font-weight: bold;
	text-align: right;
	margin-bottom: 1em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.5rem;
  }
  
  .member-roles {
	text-align: left;
	font-size: 1.25rem;
	font-weight: normal;
	list-style: none;
  }
  
  .acknowledgements {
	text-align: center;
  }
  
  .acknowledgements > h3 {
	margin-bottom: 1rem;
  }
  