---
title: Wranjer Family Archive
layout: blog
family: wranjer
audioSlug: 'streets-of-rivet-river.m4a'
audioTitle: 'Old Wranjer Folk Song - Streets of Rivet River'
portraitSlug: 'sleek-wranjer-portrait-compressed.jpg'
portraitCaption: 'Sl33k Wranjer (3010-3173), Head of Security for the Rivet River Mining Company.'
---

<section class="mt-15">
	{% set postslist = collections.wranjer %}

	{% for post in postslist %}
	<article class="my-10 postlist">
		<header class="block mb-4">

			<h2 class="font-bold text-3xl text-dirt-700 hover:text-dirt-900 opacity-70 mb-2">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
					{{ post.data.title }}
					{% else %}
					Untitled
					{% endif %}
				</a>
			</h2>
			{% if post.data.subtitle %}
			<p class="font-serif text-lg text-dirt-800">
				{{ post.data.subtitle }}
			</p>
			{% endif %}
		
		</header>
		<p class="text-sm leading-6 mb-1 opacity-90 font-bold">
			<time>{{ post.date | readableDate }}</time>
		</p>
		<p class="font-serif">by <span class="">{{ post.data.author }}</span></p>
		
		<p class="font-serif opacity-75 mt-6 lg:mt-8">
			{% excerpt post %}
		</p>

		<p class="py-2">
			<a href="{{ post.url | url }}" class="text-dirt-700 hover:text-dirt-900 font-bold font-wranjerTitle">
				Read more →
			</a>
		</p>
	<hr class="inline-block w-full">
	</article>
	{% endfor %}
</section>
