---
title: Wranjer Family Archive
layout: blog
family: wranjer
audioSlug: 'streets-of-rivet-river.m4a'
audioTitle: 'Old Wranjer Folk Song - Streets of Rivet River'
portraitSlug: 'sleek-wranjer-portrait-compressed.jpg'
portraitCaption: 'Sl33k Wranjer (3010-3173), Head of Security for the Rivet River Mining Company.'
---

<section class="mt-15">
	{% set postslist = collections.wranjer %}

	{% for post in postslist %}
	<article class="my-10">
		<h2 class="font-bold text-3xl text-dirt-900 opacity-70 mb-4">
			<a href="{{ post.url | url }}">
				{% if post.data.title %}
				{{ post.data.title }}
				{% else %}
				Untitled
				{% endif %}
			</a>
		</h2>
		<p class="text-sm leading-6 mb-3 opacity-90 font-bold">
			<time>{{ post.date | readableDate }}</time>
		</p>
		<p class="font-serif">by <span class="">{{ post.data.author }}</span></p>
		{% if post.data.description %}
		<p class="mb-3 opacity-70">
			{{ post.data.description }}
		</p>
		{% endif %}

		<p class="py-6">
			<a href="{{ post.url | url }}" class="text-brick-700 font-bold text-lg font-wranjerTitle">
				Read more →
			</a>
		</p>
	<hr class="inline-block w-full">
	</article>
	{% endfor %}
</section>
